</div>
<script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/components/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</head>
</head>
</body>
</html>