<% include header %>
<% include navbar %>
  
<div class="jumbotron" align="center">
  <h1>Contact Management System</h1>
  <h3><span>This is a contact management system. Created in Node.js by Abhinav. To start </span>
  <span ><a class="btn btn-primary btn-lg" href='/contacts/create' role="button">click here</a></span></h3>
</div>

<% include footer %>
